.productslisting_side-navbar-header {
  align-items: center;
  border-bottom: 1px solid var(--boder-color-light);
  padding: 2rem;
  font-weight: 600;
  background-color: var(--background-color-two);
}

.productslisting_side-navbar-header span:first-child {
  font-size: 2.2rem;
  letter-spacing: 0.7px;
}

.clearFilter {
  font-size: 1.6rem;
  cursor: pointer;
  border: 2px solid var(--primary-color-one);
  padding: 2.5px 5px;
  border-radius: 5px;
  transition: all 0.3s;
  font-weight: 500;
}

.clearFilter:hover {
  color: var(--secondary-color-one);
  background-color: var(--primary-color-one);
}

.sideNavbar_category-container,
.sideNavbar_price-container,
.sideNavbar_size-container,
.sideNavbar_customerRating-container,
.sideNavbar_sort-container,
.sideNavbar_availablity-container {
  padding: 2rem 2rem 2rem 3rem;
  border-bottom: 1px solid var(--boder-color-light);
}

.sideNavbar_category-container p,
.sideNavbar_price-container p,
.sideNavbar_size-container p,
.sideNavbar_customerRating-container p,
.sideNavbar_sort-container p,
.sideNavbar_availablity-container p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--primary-color-one);
  font-size: 1.7rem;
}

.sideNavbar_category-container ul,
.sideNavbar_size-container ul,
.sideNavbar_customerRating-container ul,
.sideNavbar_sort-container ul,
.sideNavbar_availablity-container ul {
  margin-left: 0.5rem;
}

.sideNavbar_category-container ul li label,
.sideNavbar_size-container ul li label,
.sideNavbar_customerRating-container ul li label,
.sideNavbar_sort-container ul li label,
.sideNavbar_availablity-container ul li label {
  font-size: 1.6rem;
}

.sideNavbar_category-container input,
.sideNavbar_size-container input,
.sideNavbar_customerRating-container input,
.sideNavbar_sort-container input,
.sideNavbar_availablity-container input {
  height: 1.6rem;
  width: 1.6rem;
}

/* price Range */
.sideNavbar_priceRange-container label,
.sideNavbar_size-container label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.sideNavbar_priceRange-container input {
  max-width: 20rem;
  width: 100%;
  accent-color: var(--primary-color-one);
}

.filter_side-navbar {
  display: inline-block;
}

.filterMenu-close-icon {
  display: none;
}

.filterMenu-close-icon svg {
  font-size: 2.4rem;
  border: 1px solid var(--dark-color-two);
  border-radius: 50%;
  padding: 0.25rem;
}

.filterMenu-close-icon svg:hover {
  color: var(--error-color);
  transform: scale(1.05);
}

/* 64em === 1028px */
@media (max-width: 1028px) {
  .filter_side-navbar.close {
    display: none;
  }

  .filterMenu-close-icon {
    display: none;
  }

  .filterMenu-close-icon.open {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .sideNavbar_category-container,
  .sideNavbar_price-container,
  .sideNavbar_size-container,
  .sideNavbar_customerRating-container,
  .sideNavbar_sort-container,
  .sideNavbar_availablity-container {
    padding: 1.5rem 1.5rem;
  }
}

@media (max-width: 544px) {
  .sideNavbar_category-container p,
  .sideNavbar_price-container p,
  .sideNavbar_size-container p,
  .sideNavbar_customerRating-container p,
  .sideNavbar_sort-container p,
  .sideNavbar_availablity-container p {
    font-size: 1.65rem;
  }

  .sideNavbar_category-container ul li label,
  .sideNavbar_size-container ul li label,
  .sideNavbar_customerRating-container ul li label,
  .sideNavbar_sort-container ul li label,
  .sideNavbar_availablity-container ul li label {
    font-size: 1.5rem;
  }
}
