/* Product card style */
.productsListing_container-card {
  max-width: 28rem;
  width: 100%;
  border: 2px solid var(--border-color-normal);
  transition: all 0.1s;
}

.productsListing_container-card:hover {
  border: 2px solid var(--border-color-highlight);
}

.productsListing_container-card.InStock {
  position: relative;
  background-color: #666;
  color: var(--secondary-color-one);
  opacity: 0.55;
}

.OutOfStock {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--error-color);
  color: var(--secondary-color-one);
  opacity: 1;
  z-index: 5;
}

.productsListing_card-imgContainer {
  position: relative;
}

.productsListing_card-imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsListing_card-imgContainer .product-rating {
  position: absolute;
  bottom: -3.25%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.3rem 0.6rem;
  background-color: var(--success-color);
  color: var(--secondary-color-one);
  font-size: 2rem;
}

.productsListing_card-imgContainer .product-rating svg {
  margin-left: 0.3rem;
  font-size: 2rem;
}

.productsListing_card-imgContainer .wishListIcon_container {
  position: absolute;
  top: 8%;
  right: -4%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  background-color: var(--dark-color-two);
  border-radius: 50%;
  cursor: pointer;
}

.productsListing_card-imgContainer .wishListIcon {
  height: 3.25rem;
  width: 3.25rem;
  color: var(--secondary-color-one);
}

.productsListing_card-imgContainer .wishListIcon_container.selected {
  background-color: var(--background-color-two);
}

.productsListing_card-imgContainer .wishListIcon.selected {
  color: var(--success-color);
}

.productsListing_card-textContainer {
  font-size: 1.7rem;
  font-weight: 400;
}

.productsListing_card-sizes {
  font-size: 1.7rem;
}

.discountPrice {
  font-size: 1.9rem;
  color: var(--success-color);
}

.totalPrice {
  font-size: 1.6rem;
  color: var(--dark-color-two);
}

.discountPercent {
  color: var(--error-color);
}

.productsListing_container-card .addToCartBtn {
  width: 100%;
  text-align: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  transition: all 0.1s;
}

.productsListing_container-card .addToCartBtn.toCartAction {
  background-color: var(--success-color);
}

.productsListing_container-card .addToCartBtn:hover {
  background-color: var(--primary-color-two);
}

.productsListing_container-card .addToCartBtn.toCartAction:hover {
  background-color: var(--success-color);
}

/* 80em === 1280px */
@media (max-width: 80em) {
  .productsListing_container-card {
    max-width: 26rem;
  }
}

/* 70em === 1120px */
@media (max-width: 70em) {
  .productsListing_container-card {
    max-width: 24rem;
  }
}

/* 64em === 1028px */
@media (max-width: 64em) {
  .productsListing_container-card {
    max-width: 28rem;
  }

  .OutOfStock {
    font-size: 1.9rem;
    padding: 0.6rem 1rem;
    border-radius: 0.7rem;
  }

  .productsListing_card-imgContainer .product-rating {
    bottom: -3.5%;
    padding: 0.3rem 0.6rem;
    font-size: 1.8rem;
  }

  .productsListing_card-imgContainer .product-rating svg {
    font-size: 1.9rem;
  }

  .discountPrice {
    font-size: 1.8rem;
  }

  .productsListing_card-imgContainer .wishListIcon_container {
    top: 9%;
    padding: 0.4rem;
  }

  .productsListing_card-imgContainer .wishListIcon {
    height: 3rem;
    width: 3rem;
  }

  .productsListing_container-card .addToCartBtn {
    padding: 0.5rem 1rem;
  }
}

/* 59em === 944px */
@media (max-width: 59em) {
  .productsListing_container-card {
    max-width: 24rem;
  }
}

/* 48em === 768px */
@media (max-width: 48em) {
  .productsListing_container-card {
    max-width: 28rem;
  }
}

/* 38em === 608px */
@media (max-width: 38em) {
  .productsListing_container-card {
    max-width: 32rem;
  }
}
