.userProfile_container,
.userAddress_container {
  width: 100%;
}

.userProfile_container-heading,
.userAddress_container-heading {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary-color-one);
}

.userProfile-name,
.userProfile-email {
  font-size: 2rem;
}

.userProfile-name span,
.userProfile-email span {
  font-weight: 600;
}

.logOutBtn {
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  background-color: var(--error-color);
  margin-top: 2rem;
}

.addNewAddressBtn {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}

.addNewAddressBtn:hover {
  color: var(--primary-color-one);
}

.userAddress_card-container {
  border-bottom: 2px solid var(--border-color-normal);
  padding-bottom: 2rem;
}

.userAddress_card-container:last-child {
  border-bottom: none;
}

.userAddress-details p {
  font-size: 1.8rem;
}

.userAddress-details .name {
  font-size: 2.2rem;
  font-weight: 600;
}

.userAddress-details .mobileNumber svg {
  font-size: 2.2rem;
}

.userAddress_cardBtn-container .editBtn,
.userAddress_cardBtn-container .removeBtn {
  padding: 0.25rem 1rem;
  font-size: 1.8rem;
  border-radius: 5px;
}

.userAddress_cardBtn-container .removeBtn {
  background-color: var(--error-color);
}

/* Address Modal container */

.address_modal-container {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.address_modal-container.active {
  display: block;
}

.address_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: var(--background-color-two);
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  animation: modalOpen;
  animation-duration: 0.5s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.address_modal-heading-container {
  position: relative;
}

.address_modal-heading {
  text-align: center;
}

.closeIcon-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.address_modal-heading-container svg {
  font-size: 2.8rem;
  cursor: pointer;
  padding: 0.25rem;
}

.address_modal-heading-container svg:hover {
  border: 2px solid var(--primary-color-one);
  border-radius: 50%;
  padding: 0.25rem;
  transform: scale(1.05);
}

.address_modal-heading {
  font-size: 3.2rem;
  justify-content: center;
}

.address_form-container {
  width: 100%;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  margin: 0 0.5rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}

.form_container.type-2 {
  flex-direction: row;
  column-gap: 2.5rem;
}

.form_container label,
.form_container input,
.form_container select .form_container span {
  display: block;
  width: 100%;
}

.form_container label {
  font-size: 1.6rem;
}

.form_container input,
.form_container select {
  width: 100%;
  padding: 0.6rem 1.4rem;
  border: 1px solid var(--border-color-normal);
  border-radius: 5px;
  font-size: 1.7rem;
}

.form_container span {
  font-size: 1.5rem;
  color: var(--error-color);
}

.form_btn-container {
  margin-top: 1.5rem;
}

.saveBtn,
.cancelBtn,
.fillDummyBtn {
  padding: 0.5rem 1rem;
  font-size: 1.65rem;
}

.cancelBtn {
  background-color: var(--error-color);
}
