@import url(../components/filters/ProductListStyle.css);

/* Shippr App Container */

.shipprApp_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Container style */
.header_container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10rem;
  background-color: var(--secondary-color-one);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}

.header_nav-container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.25rem 0rem;
}

.header_container-partOne div {
  width: 100%;
}

.header_container-partTwo {
  align-items: center;
  gap: 3.5rem;
}

.searchInputPrimary_container {
  margin-right: 1rem;
}

.searchInputPrimary_container label {
  display: flex;
  flex-wrap: nowrap;
  width: 45rem;
  border: 2px solid var(--border-color-normal);
  border-radius: var(--border-radius);
}

.searchInputPrimary_container span {
  color: #333;
  padding: 0 0.75rem;
}

.searchInput_primary {
  width: 100%;
  padding: 1.25rem;
  border: none;
  font-size: 1.7rem;
  overflow: hidden;
  border: 0 solid var(--border-color-normal);
  border-radius: var(--border-radius);
}

.searchInput_primary:focus {
  outline: none;
}

.searchInputPrimary_container label:focus-within {
  border: 2px solid var(--border-color-highlight);
}

.header_container-partTwo svg {
  font-size: 3.2rem;
}

.logInBtn {
  padding: 0.6rem 1.6rem;
  font-size: 1.8rem;
}

.header_container-partTwo li span svg {
  background-color: var(--primary-color-two);
  transition: all 0.3s;
}

.header_container-partTwo li span svg:hover {
  color: var(--primary-color-two);
}

/* footer container style */

.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--dark-color-one);
  color: var(--secondary-color-one);
}

.footer_container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 3rem 0;
  align-items: center;
}

.footer-logo-text {
  transition: all 0.3s;
  cursor: pointer;
  letter-spacing: 1px;
}

.footer-logo-text:hover {
  color: var(--primary-color-one);
}

.footer_copyright-text {
  margin-left: 10rem;
}

.footer_socials {
  gap: 3rem;
  cursor: pointer;
}

.footer_socials li svg {
  transition: all 0.3s;
}

.footer_socials li svg:hover {
  color: var(--primary-color-one);
}

.btn_pageUp-wrap {
  margin-left: 2rem;
  position: relative;
}

.btn_pageUp {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--primary-color-one);
  border-radius: 50%;
  color: var(--secondary-color-one);
  box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  z-index: 2;
}

.footer_socials svg {
  font-size: 2.8rem;
}

.btn_pageUp svg:hover {
  color: var(--secondary-color-one);
}

.btn_pageUp-wrap:hover {
  background-color: var(--primary-color-two);
}

.btn_pageUp-wrap::before {
  content: "";
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: var(--secondary-color-one);
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 50%;
  opacity: 0.1;
  transition: scale 1.2s ease-out infinite 1s;
}

/* Hero Container */

.hero_container {
  width: 100%;
  height: 100%;
}

.heroImg_container {
  padding: 4rem 0;
  width: 100%;
  height: 100%;
}

.heroImg_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories_container {
  padding: 4rem 0;
  max-width: 130rem;
  margin: 0 auto;
}

.categories_container h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-one);
  letter-spacing: 0.75px;
  font-size: 3.8rem;
}

.categories_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0;
  gap: 2.5rem;
}

.categories_wrap {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.categories_card {
  max-width: 45rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}

.categories_image-box {
  position: relative;
  width: 100%;
  height: 48rem;
  overflow: hidden;
}

.categories_image-box img {
  position: absolute;
  height: 100%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.categories_card:hover .categories_image-box img {
  transform: translate(-50%, -50%) scale(1.05);
}

/* products List page Style */
.productsListing_main-container {
  width: 100%;
  padding: 4rem 2.5rem;
  background-color: var(--background-color-one);
  gap: 2rem;
}

.productslisting_side-navbar {
  grid-area: sidebar;
  height: fit-content;
  background-color: var(--background-color-two);
}

.productsListing_container {
  grid-area: main;
  padding: 2rem;
  background-color: var(--background-color-two);
  justify-content: center;
  align-items: center;
}

.productsListing_container-title {
  display: inline-block;
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid var(--border-color-normal);
}

.productsListing_container ul {
  flex-grow: 0;
  align-items: center;
  gap: 2rem;
}

/* Product card style */

.productsListing_container-card.InStock {
  background-color: #666;
  color: var(--secondary-color-one);
  opacity: 0.55;
  position: relative;
}

.OutOfStock {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--error-color);
  color: var(--secondary-color-one);
  opacity: 1;
  z-index: 5;
}

.productsListing_container-card {
  max-width: 32rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--border-color-normal);
  gap: 1.5rem;
  transition: all 0.1s;
}

.productsListing_container-card:hover {
  border: 2px solid var(--border-color-highlight);
}

.productsListing_card-imgContainer {
  position: relative;
  width: 100%;
}

.productsListing_card-imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsListing_card-imgContainer .product-rating {
  position: absolute;
  bottom: -4%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.4rem 1.4rem;
  background-color: var(--success-color);
  color: var(--secondary-color-one);
  font-size: 2rem;
}

.productsListing_card-imgContainer .wishListIcon_container {
  position: absolute;
  top: 8%;
  right: -4%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 0.5rem;
  background-color: var(--dark-color-two);
  border-radius: 50%;
  cursor: pointer;
}

.productsListing_card-imgContainer .wishListIcon {
  height: 3.25rem;
  width: 3.25rem;
  color: var(--secondary-color-one);
}

.productsListing_card-imgContainer .wishListIcon_container.selected {
  background-color: var(--background-color-two);
}

.productsListing_card-imgContainer .wishListIcon.selected {
  color: var(--success-color);
}

.productsListing_card-textContainer {
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.productsListing_card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productsListing_card-priceContainer {
  gap: 1rem;
}

.discountPrice {
  font-size: 2rem;
  color: var(--success-color);
}

.totalPrice {
  font-size: 1.6rem;
  color: var(--dark-color-two);
}

.discountPercent {
  color: var(--error-color);
}

.productsListing_container-card .addToCartBtn {
  width: 100%;
  text-align: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

/* Single Product page style */

.singleProductpage_section {
  width: 100%;
  background-color: var(--background-color-one);
  padding: 4rem 2rem;
}

.singleProductpage_main-container {
  max-width: 145rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 4rem 2.5rem;
  background-color: var(--background-color-two);
}

.singleProduct_imgContainer {
  width: 100%;
}

.singleProduct_imgContainer ul {
  gap: 2rem;
  width: 100%;
}

.singleProduct_imgContainer ul li {
  max-width: 32rem;
}

.singleProduct_imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleProduct_detailsContainer {
  width: 100%;
}

.singleProduct_title {
  font-size: 2.4rem;
  padding-bottom: 0.75rem;
  border-bottom: 1.5px solid var(--border-color-normal);
}

.singleProduct_priceContainer {
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.singleProduct_priceContainer .discountPrice {
  font-size: 2.4rem;
  font-weight: 700;
}

.singleProduct_priceContainer .discountPercent,
.singleProduct_priceContainer .totalPrice {
  font-size: 2.2rem;
}

.singleProduct_sizesContainer {
  width: 100%;
  padding-bottom: 1rem;
}

.singleProduct_sizesContainer h3 {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
}

.singleProduct_sizesContainer ul {
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 0.5rem;
}

.singleProduct_sizes {
  position: relative;
}

.singleProduct_sizes input {
  height: 5rem;
  width: 5rem;
}

.singleProduct_sizes .size_text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.singleProduct_sizesContainer .size-error {
  color: var(--error-color);
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.singleProduct_btnContainer {
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.singleProduct_btnContainer .addToCartBtn,
.singleProduct_btnContainer .addToWishListBtn {
  padding: 0.7rem 1.4rem;
  font-size: 2rem;
  font-weight: 500;
}

.singleProduct_btnContainer .addToWishListBtn {
  background-color: var(--background-color-two);
  color: var(--primary-color-one);
  border: 1px solid var(--primary-color-one);
}

.singleProduct_details {
  width: 100%;
  padding-bottom: 1.5rem;
}

.singleProduct_details-title {
  padding-bottom: 1.5rem;
}

.singleProduct_details p {
  max-width: 70rem;
  width: 100%;
  line-height: 1.6;
  font-size: 1.7rem;
  word-spacing: 2px;
  word-wrap: break-word;
}

/* Cart Page */

.cartpage_section {
  background-color: var(--background-color-one);
  width: 100%;
  padding: 4rem;
}

.emptyCart_Container {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  padding: 4rem;
  background-color: #fff;
}

.emptyCart_ImgContainer {
  width: 100%;
  height: 100%;
}

.emptyCart_ImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emptyCart_text-Container {
  gap: 0.5rem;
  padding-bottom: 4rem;
}

.emptyCart_text-Container h3 {
  text-align: center;
  font-size: 3.2rem;
}

.emptyCart_text-Container p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.shoppingExploreBtn {
  font-size: 2.2rem;
  padding: 1rem 2rem;
}

.cartpage_main-container {
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  gap: 5rem;
  padding: 5rem 3rem;
  background-color: #fff;
}

.cartpage_productDetails {
  width: 100%;
}

.cartpage_productDetails-title {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  border-bottom: 1.5px solid var(--border-color-normal);
}

.cartpage_productDetails-cardList {
  width: 100%;
  gap: 3rem;
  padding: 3rem 1rem;
}

.cartpage_productDetails-card {
  border: 1px solid var(--border-color-normal);
}

.product_info-container {
  align-items: flex-start;
  border-bottom: 1px solid var(--border-color-normal);
  padding: 1.5rem;
}

.product_info-partOne {
  gap: 2rem;
}

.product_info-partOne-title {
  font-size: 2.2em;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color-normal);
}

.cartProduct_priceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}

.cartProduct_priceContainer .discountPrice {
  font-size: 2rem;
  font-weight: 500;
}

.cartProduct_priceContainer .totalPrice {
  text-decoration: line-through;
}

.cartProduct_priceContainer .savedPrice {
  font-size: 1.8rem;
}

.cartProduct_filterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}

.cartProduct_sizeFilter select {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border-radius: 5px;
}

.cartProduct_qtyFilter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.qtyFilter-title {
  font-size: 1.8rem;
}

.cartProduct_qtyFilter button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.4rem;
}

.cartProduct_qtyFilter button {
  background-color: var(--error-color);
  color: var(--secondary-color-one);
  cursor: pointer;
}

.cartProduct_qtyFilter button:disabled {
  background-color: var(--background-color-one);
  color: var(--secondary-color-one);
}

.cartProduct_qtyFilter button:last-child {
  background-color: var(--success-color);
  color: var(--secondary-color-one);
}

.cartProduct_qtyFilter button svg {
  font-size: 1.8rem;
}

.cartProduct_qtyFilter .productQty {
  padding: 0 1.2rem;
  font-size: 2rem;
  font-weight: 500;
  border: 1.5px solid var(--border-color-normal);
  border-radius: 5px;
}

.product_info-partTwo {
  max-width: 20rem;
  width: 100%;
}

.product_info-partTwo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartProduct_btnContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cartProduct_btnContainer .removeCartBtn,
.cartProduct_btnContainer .addToWishListBtn {
  background-color: var(--background-color-two);
  color: var(--dark-color-one);
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
}

.cartProduct_btnContainer .removeCartBtn:hover {
  color: var(--error-color);
}

.cartProduct_btnContainer .addToWishListBtn:hover {
  color: var(--primary-color-one);
}

/* Cart page price Summary style */

.cartpage_priceSummary-container {
  width: 100%;
  position: sticky;
}

.cartpage_priceSummary-container-title {
  padding: 1rem 1.5rem;
  background-color: var(--background-color-one);
  font-size: 2.4rem;
}

.cartpage_priceSummary-info {
  width: 100%;
  border: 1px solid var(--border-color-normal);
}

.cartTotal,
.cartDiscount,
.cartDiscountSaved,
.cartTax,
.cartShippingCharges,
.cartGrandTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.cartDiscountSaved span:first-child {
  color: var(--success-color);
  font-weight: 500;
}

.cartGrandTotal {
  font-weight: 700;
}

.cart_placeOrder {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color-one);
}

.placeOrderBtn {
  display: inline-block;
  width: 100%;
  color: var(--secondary-color-one);
  font-size: 2rem;
}

/* Login page and sign up style */

.loginpage_container {
  background-color: #ccc;
  width: 100%;
  min-height: 58rem;
  flex-direction: column;
}

.signUpPage_container {
  background-color: #ccc;
  width: 100%;
  min-height: 75rem;
}

.login_container,
.signUp_container {
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 3rem;
  gap: 2.25rem;
  border-radius: 1rem;
}

.login_container h3,
.signUp_container h3 {
  font-size: 2.8rem;
}

.login_email-container,
.login_password-container,
.signUp_name-container,
.signUp_email-container,
.signUp_password-container,
.signUp_passwordConfirm-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_email-container label,
.login_password-container label,
.signUp_name-container label,
.signUp_email-container label,
.signUp_password-container label,
.signUp_passwordConfirm-container label {
  display: inline-block;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.login_email-container input,
.login_password-container input,
.signUp_name-container input,
.signUp_email-container input,
.signUp_password-container input,
.signUp_passwordConfirm-container input {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 2rem;
  font-size: 1.8rem;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.4rem;
}

.login_password-container {
  position: relative;
}

.login_password-container .password-icon,
.login_password-container .password-icon {
  position: absolute;
  top: 70%;
  right: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.password-icon svg {
  font-size: 2.2rem;
}

.name-error,
.email-error,
.password-error,
.passwordConfirm-error {
  color: var(--error-color);
}

.loginApiError {
  border: 1px solid var(--error-color);
  padding: 0.8rem 2.4rem;
  margin-top: 1rem;
  background-color: var(--error-color);
  color: #fff;
  border-radius: 8px;
}

.signUp_name-container span,
.signUp_email-container span,
.signUp_password-container span,
.signUp_passwordConfirm-container span {
  display: inline-block;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.loginUserBtn,
.loginGuestBtn,
.signUpUserBtn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
}

.loginPage-switchtext,
.signUpPage-switchtext {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.loginPage-switchtext span,
.signUpPage-switchtext span {
  display: inline-block;
  color: var(--primary-color-one);
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0.75rem;
}

/*-----------------*/

.login_container h3,
.signUp_container h3 {
  font-size: 2.8rem;
}

/* WishList page style */

.wishListpage_section {
  background-color: var(--background-color-one);
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.wishList_container {
  background-color: var(--background-color-two);
  padding: 2.5rem 4rem;
}

.emptyWishlist_Container {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  padding: 4rem;
  background-color: #fff;
}

.emptyWishlist_ImgContainer {
  width: 100%;
  height: 100%;
}

.emptyWishlist_ImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emptyWishlist_text-Container {
  gap: 0.5rem;
  padding-bottom: 4rem;
}

.emptyWishlist_text-Container h3 {
  text-align: center;
  font-size: 3.2rem;
}

.emptyWishlist_text-Container p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.shoppingExploreBtn {
  font-size: 2.2rem;
  padding: 1rem 2rem;
}

.wishListpage_title {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.wishListpage_wishlistCart-list {
  padding: 3rem 2rem;
  align-items: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;
}

.wishList_card-container {
  max-width: 30rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-color-normal);
  justify-content: center;
  gap: 1.5rem;
}

.wishlist_card-imgContainer {
  position: relative;
  width: 100%;
}

.wishlist_card-imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wishlist_card-imgContainer .product-rating {
  position: absolute;
  bottom: -4%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.4rem 1rem;
  background-color: var(--success-color);
  color: var(--secondary-color-one);
  font-size: 1.9rem;
}

.wishlist_card-imgContainer .remove-card {
  position: absolute;
  top: 7%;
  right: -3%;
  transform: translate(-50%, -50%);
  padding: 0.6rem;
  background-color: var(--secondary-color-three);
  color: var(--dark-color-one);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}

.wishListIcon_container .closeIcon {
  font-size: 2.4rem;
}

.wishlist_card-imgContainer .remove-card:hover .closeIcon {
  color: var(--error-color);
  transform: rotate(-15deg);
}

.wishListpage_productList_card-textContainer {
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.wishListpage_productList_card-textContainer-title {
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 1.6rem;
}

.wishListpage_productList_card-priceContainer {
  gap: 1rem;
}

.wishListpage_productList_card-textContainer .discountPrice {
  font-size: 2rem;
  color: var(--success-color);
}

.wishListpage_productList_card-textContainer .totalPrice {
  font-size: 1.6rem;
  text-decoration: line-through;
  color: #777;
}

.wishListpage_productList_card-textContainer .discountPercent {
  color: var(--error-color);
}

.wishListpage_productList_card-textContainer .addToCartBtn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

/* Profile page style */

.userInfo_container {
  background-color: var(--background-color-one);
  width: 100%;
  flex-direction: column;
  padding: 5rem 0 8rem 0;
}

.userInfo_container-title {
  font-size: 3.6rem;
  padding-bottom: 1.5rem;
}

.userInfo_wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--background-color-two);
  padding: 3rem;
  gap: 2rem;
  border-radius: 1rem;
}

.userInfo_NavLink-container {
  width: 100%;
  border: 2px solid var(--primary-color-one);
  border-radius: 4px;
}

.userProfile_title,
.userAddress_title {
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  width: 50%;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.userProfileNavLink.active .userProfile_title {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.userAddressNavLink.active .userAddress_title {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.userProfile_container,
.userAddress_container {
  width: 100%;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.userProfile_container-heading,
.userAddress_container-heading {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: underline;
}

.userProfile-name,
.userProfile-email {
  font-size: 2rem;
}

.userProfile-name span,
.userProfile-email span {
  font-weight: 500;
}

.logOutBtn {
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  background-color: var(--error-color);
  margin-top: 2rem;
}

.addNewAddressBtn {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.addNewAddressBtn:hover {
  color: var(--primary-color-one);
}

.userAddress_card-container {
  gap: 2rem;
}

.userAddressList_container {
  gap: 2rem;
  padding: 1.5rem 0;
}

.userAddress-details {
  gap: 0.5rem;
  padding: 1rem 0;
}

.userAddress-details p {
  font-size: 1.8rem;
}

.userAddress-details .name {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.userAddress-details .mobileNumber svg {
  font-size: 2rem;
}

.userAddress_cardBtn-container {
  gap: 2em;
}

.userAddress_cardBtn-container .editBtn,
.userAddress_cardBtn-container .removeBtn {
  padding: 0.3rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
}

/* Address Modal container */

.address_modal-container {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.address_modal-container.active {
  display: block;
}

.address_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: var(--background-color-two);
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  animation: modalOpen;
  animation-duration: 0.5s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.address_modal-heading-container {
  position: relative;
}

.address_modal-heading {
  text-align: center;
}

.closeIcon-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.address_modal-heading-container svg {
  font-size: 2.8rem;
  cursor: pointer;
  padding: 0.25rem;
}

.address_modal-heading-container svg:hover {
  border: 2px solid var(--primary-color-one);
  border-radius: 50%;
  padding: 0.25rem;
  transform: scale(1.05);
}

.address_modal-heading {
  font-size: 3.2rem;
  justify-content: center;
}

.address_form-container {
  width: 100%;

  gap: 1.5rem;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  margin: 0 0.5rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}

.form_container.type-2 {
  flex-direction: row;
  column-gap: 2.5rem;
}

.form_container label,
.form_container input,
.form_container select .form_container span {
  display: block;
  width: 100%;
}

.form_container label {
  font-size: 1.6rem;
}

.form_container input,
.form_container select {
  width: 100%;
  padding: 0.6rem 1.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.7rem;
}

.form_container span {
  font-size: 1.5rem;
  color: var(--error-color);
}

.form_btn-container {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.saveBtn,
.cancelBtn,
.fillDummyBtn {
  padding: 0.5rem 1rem;
  font-size: 1.65rem;
}

.cancelBtn {
  background-color: var(--error-color);
}

/* Checkout page style */

.checkoutpage {
  width: 100%;
  background-color: var(--background-color-one);
  padding: 4rem;
  height: 100%;
}

.checkout_section {
  align-items: flex-start;
  width: 100%;
  background-color: var(--background-color-two);
  padding: 4rem;
  gap: 10rem;
}

.checkout_add-address-container {
  width: 100%;
  padding: 1rem 0;
}

.checkout_add-address-container .addAddressbtn {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* .checkout_add-address-container .addAddressbtn:hover {
  background-color: var(--primary-color-two);
} */

.checkout_address-container {
  gap: 2rem;
  width: 100%;
}

.checkout_address-container h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.checkout_address-container ul {
  gap: 1.5rem;
}

.checkout_Address-card-container {
  border: 1px solid var(--border-color-normal);
  padding: 2rem;
}

.checkout_Address-card-container.selected {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.checkout_Address-card-part-one {
  gap: 1.5rem;
}

.checkout_Address-card-part-one label {
  padding: 1rem 0;
}

.checkout_Address-card-part-one .name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.checkout_Address-card-part-two {
  gap: 0.2rem;
  margin-left: 2.5rem;
}

/*  Checkout product details container style */

.checkout-productDetails-container {
  max-width: 50rem;
  width: 100%;
  border: 1px solid var(--border-color-normal);
  gap: 1rem;
}

.checkout-productDetails-container .order_detail-title {
  text-align: center;
  background-color: var(--background-color-one);
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
}

.order_product-container {
  padding: 0.5rem 2rem;
}

.order_product-container-part-one {
  border-bottom: 1.5px solid var(--border-color-normal);
  padding-bottom: 0.5rem;
}

.order_product-container-part-one span {
  font-size: 1.8rem;
  font-weight: 500;
}

.order_product-container-part-two {
  gap: 1.5rem;
  padding: 1rem 0;
}

.order_price-container {
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.orderTotal_price-container,
.orderDiscount_price-container,
.orderTotalShipping_price-container,
.orderTotalSaved_price-container,
.orderTotal_amount-container {
  font-size: 1.8rem;
}

.orderTotalSaved_price-container {
  color: var(--success-color);
}

.orderTotal_amount-container {
  font-size: 2rem;
  font-weight: 600;
}

.order_address-container {
  padding: 0.5rem 2rem;
  gap: 0.3rem;
}

.order_address-container .name {
  font-weight: 500;
  text-decoration: underline;
}

.checkout-productDetails-container .placeOrderBtn {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding: 0.7rem 1.4rem;
  border-radius: 0;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.checkout-productDetails-container .placeOrderBtn:hover {
  background-color: var(--success-color);
}
