@import url(../components//header/header.css);
@import url(../components/footer/footer.css);
@import url(../components/category/category.css);
@import url(../components/filters/filterStyle.css);
@import url(../components/productCard/productCard.css);
@import url(../components/wishList/wishListCard.css);
@import url(../components/cart/cart.css);

/* Shippr App Container */

.shipprApp_container {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
}

/* Hero Container */

.heroImg_container {
  position: relative;
}

.heroImg_container span {
  position: absolute;
  top: 70%;
  right: 7.5%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
  padding: 0.8rem 2rem;
  font-size: 2.4rem;
  letter-spacing: 0.75px;
  border-radius: 1rem;
  z-index: 5;
  box-shadow: rgba(60, 10, 194, 0.25) 0px 14px 28px,
    rgba(60, 10, 194, 0.22) 0px 10px 10px;
  transition: all 0.3s;
}

.heroImg_container span:hover {
  background-color: var(--primary-color-two);
}

.heroImg_container img {
  object-fit: cover;
}

/* products List page Style */
.productsListing_main-container {
  width: 100%;
  padding: 4rem 2.5rem;
  background-color: var(--background-color-one);
}

.productslisting_side-navbar {
  width: 100%;
  grid-area: sidebar;
  height: fit-content;
  background-color: var(--background-color-two);
}

.productsListing_container {
  grid-area: main;
  background-color: var(--background-color-two);
  justify-content: center;
  align-items: center;
}

.productsListing_container-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  color: var(--primary-color-one);
  border-bottom: 2px solid var(--boder-color-light);
}

.productsListing_container ul {
  flex-grow: 0;
  justify-content: center;
  align-items: flex-start;
}

/* Single Product page style */

.singleProductpage_section {
  width: 100%;
  background-color: var(--background-color-one);
}

.singleProductpage_main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--background-color-two);
}

.singleProduct_imgContainer,
.singleProduct_imgContainer ul,
.singleProduct_detailsContainer {
  width: 100%;
}

.singleProduct_imgContainer ul li {
  max-width: 32rem;
  width: 100%;
}

.singleProduct_imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleProduct_title {
  font-size: 2.4rem;
  padding-bottom: 0.75rem;
  border-bottom: 1.5px solid var(--border-color-normal);
}

.singleProduct_priceContainer {
  align-items: center;
}

.singleProduct_priceContainer .discountPrice {
  font-size: 2.4rem;
  font-weight: 700;
}

.singleProduct_priceContainer .discountPercent,
.singleProduct_priceContainer .totalPrice {
  font-size: 2rem;
}

.singleProduct_sizesContainer {
  width: 100%;
  padding-bottom: 1rem;
}

.singleProduct_sizesContainer h3 {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
}

.singleProduct_sizesContainer ul {
  align-items: center;
  padding-bottom: 0.5rem;
}

.singleProduct_sizes {
  position: relative;
}

.singleProduct_sizes input {
  height: 5rem;
  width: 5rem;
}

.singleProduct_sizes .size_text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.singleProduct_sizesContainer .size-error {
  color: var(--error-color);
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.singleProduct_btnContainer {
  align-items: center;
  width: 100%;
  padding: 1rem 0 2.5rem 0;
}

.singleProduct_btnContainer .addToCartBtn,
.singleProduct_btnContainer .addToWishListBtn {
  padding: 0.7rem 1.4rem;
  font-size: 2rem;
  font-weight: 500;
}

.singleProduct_btnContainer .addToCartBtn.toCartAction {
  background-color: var(--success-color);
}

.singleProduct_btnContainer .addToCartBtn:hover {
  background-color: var(--primary-color-two);
}

.singleProduct_btnContainer .addToCartBtn.toCartAction:hover {
  background-color: var(--success-color);
}

.singleProduct_btnContainer .addToWishListBtn {
  background-color: var(--background-color-two);
  color: var(--primary-color-one);
  border: 1px solid var(--primary-color-one);
  transition: all 0.3s;
}

.singleProduct_btnContainer .addToWishListBtn:hover {
  color: var(--secondary-color-one);
  background-color: var(--primary-color-one);
}

.singleProduct_details {
  width: 100%;
  padding-bottom: 1.5rem;
}

.singleProduct_details-title {
  padding-bottom: 1.5rem;
}

.singleProduct_details p {
  max-width: 70rem;
  width: 100%;
  line-height: 1.6;
  font-size: 1.7rem;
  word-spacing: 2px;
  word-wrap: break-word;
}

/* Cart Page */

.cartpage_section {
  background-color: var(--background-color-one);
  width: 100%;
}

.emptyCart_Container {
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color-two);
}

.emptyCart_ImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emptyCart_text-Container {
  padding-bottom: 4rem;
}

.emptyCart_text-Container h3 {
  text-align: center;
  font-size: 3.2rem;
}

.emptyCart_text-Container p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.shoppingExploreBtn {
  font-size: 2.2rem;
  padding: 1rem 2rem;
}

.cartpage_main-container {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  padding: 5rem 3rem;
  background-color: var(--background-color-two);
}

.cartpage_productDetails {
  width: 100%;
}

.cartpage_productDetails-title {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  border-bottom: 1.5px solid var(--border-color-normal);
}

.cartpage_productDetails-cardList {
  width: 100%;
  padding: 3rem 1rem;
}

/* Login page and sign up style */

.loginpage_container {
  background-color: #ccc;
  width: 100%;
  min-height: 58rem;
  flex-direction: column;
}

.signUpPage_container {
  background-color: #ccc;

  width: 100%;
  min-height: 75rem;
}

.login_container,
.signUp_container {
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 3rem;
  gap: 2.25rem;
  border-radius: 1rem;
}

.login_container h3,
.signUp_container h3 {
  font-size: 2.8rem;
}

.login_email-container,
.login_password-container,
.signUp_name-container,
.signUp_email-container,
.signUp_password-container,
.signUp_passwordConfirm-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_email-container label,
.login_password-container label,
.signUp_name-container label,
.signUp_email-container label,
.signUp_password-container label,
.signUp_passwordConfirm-container label {
  display: inline-block;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.login_email-container input,
.login_password-container input,
.signUp_name-container input,
.signUp_email-container input,
.signUp_password-container input,
.signUp_passwordConfirm-container input {
  display: inline-block;
  width: 100%;
  padding: 1.25rem 2rem;
  font-size: 1.8rem;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.4rem;
}

.login_password-container {
  position: relative;
}

.login_password-container .password-icon,
.login_password-container .password-icon {
  position: absolute;
  top: 70%;
  right: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.password-icon svg {
  font-size: 2.2rem;
}

.name-error,
.email-error,
.password-error,
.passwordConfirm-error {
  color: var(--error-color);
}

.loginApiError {
  border: 1px solid var(--error-color);
  padding: 0.8rem 2.4rem;
  margin-top: 1rem;
  background-color: var(--error-color);
  color: #fff;
  border-radius: 8px;
}

.signUp_name-container span,
.signUp_email-container span,
.signUp_password-container span,
.signUp_passwordConfirm-container span {
  display: inline-block;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.loginUserBtn,
.loginGuestBtn,
.signUpUserBtn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
}

.loginPage-switchtext,
.signUpPage-switchtext {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.loginPage-switchtext span,
.signUpPage-switchtext span {
  display: inline-block;
  color: var(--primary-color-one);
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0.75rem;
}

/*-----------------*/

.login_container h3,
.signUp_container h3 {
  font-size: 2.8rem;
}

/* WishList page style */

.wishListpage_section {
  background-color: var(--background-color-one);
}

.wishList_container {
  background-color: var(--background-color-two);
  padding: 2.5rem 4rem;
}

.emptyWishlist_Container {
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color-two);
}

.emptyWishlist_ImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emptyWishlist_text-Container {
  padding-bottom: 4rem;
}

.emptyWishlist_text-Container h3 {
  text-align: center;
  font-size: 3.2rem;
}

.emptyWishlist_text-Container p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.shoppingExploreBtn {
  font-size: 2.2rem;
  padding: 1rem 2rem;
}

.wishListpage_title {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.wishListpage_wishlistCart-list {
  padding: 3rem 2rem;
  align-items: flex-start;
  justify-content: center;
}

/* Profile page style */

.userInfo_container {
  background-color: var(--background-color-one);
  width: 100%;
  flex-direction: column;
  padding: 5rem 0 8rem 0;
}

.userInfo_container-title {
  font-size: 3.6rem;
  padding-bottom: 1.5rem;
}

.userInfo_wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--background-color-two);
  padding: 3rem;
  gap: 2rem;
  border-radius: 1rem;
}

.userInfo_NavLink-container {
  width: 100%;
  border: 2px solid var(--primary-color-one);
  border-radius: 4px;
}

.userProfile_title,
.userAddress_title {
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  width: 50%;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.userProfileNavLink.active .userProfile_title {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.userAddressNavLink.active .userAddress_title {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.userProfile_container,
.userAddress_container {
  width: 100%;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.userProfile_container-heading,
.userAddress_container-heading {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: underline;
}

.userProfile-name,
.userProfile-email {
  font-size: 2rem;
}

.userProfile-name span,
.userProfile-email span {
  font-weight: 500;
}

.logOutBtn {
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  background-color: var(--error-color);
  margin-top: 2rem;
}

.addNewAddressBtn {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.addNewAddressBtn:hover {
  color: var(--primary-color-one);
}

.userAddress_card-container {
  gap: 2rem;
}

.userAddressList_container {
  gap: 2rem;
  padding: 1.5rem 0;
}

.userAddress-details {
  gap: 0.5rem;
  padding: 1rem 0;
}

.userAddress-details p {
  font-size: 1.8rem;
}

.userAddress-details .name {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.userAddress-details .mobileNumber svg {
  font-size: 2rem;
}

.userAddress_cardBtn-container {
  gap: 2em;
}

.userAddress_cardBtn-container .editBtn,
.userAddress_cardBtn-container .removeBtn {
  padding: 0.3rem 1.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
}

/* Address Modal container */

.address_modal-container {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.address_modal-container.active {
  display: block;
}

.address_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: var(--background-color-two);
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  animation: modalOpen;
  animation-duration: 0.5s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.address_modal-heading-container {
  position: relative;
}

.address_modal-heading {
  text-align: center;
}

.closeIcon-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.address_modal-heading-container svg {
  font-size: 2.8rem;
  cursor: pointer;
  padding: 0.25rem;
}

.address_modal-heading-container svg:hover {
  border: 2px solid var(--primary-color-one);
  border-radius: 50%;
  padding: 0.25rem;
  transform: scale(1.05);
}

.address_modal-heading {
  font-size: 3.2rem;
  justify-content: center;
}

.address_form-container {
  width: 100%;

  gap: 1.5rem;
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  margin: 0 0.5rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}

.form_container.type-2 {
  flex-direction: row;
  column-gap: 2.5rem;
}

.form_container label,
.form_container input,
.form_container select .form_container span {
  display: block;
  width: 100%;
}

.form_container label {
  font-size: 1.6rem;
}

.form_container input,
.form_container select {
  width: 100%;
  padding: 0.6rem 1.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.7rem;
}

.form_container span {
  font-size: 1.5rem;
  color: var(--error-color);
}

.form_btn-container {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.saveBtn,
.cancelBtn,
.fillDummyBtn {
  padding: 0.5rem 1rem;
  font-size: 1.65rem;
}

.cancelBtn {
  background-color: var(--error-color);
}

/* Checkout page style */

.checkoutpage {
  width: 100%;
  background-color: var(--background-color-one);
  padding: 4rem;
  height: 100%;
}

.checkout_section {
  align-items: flex-start;
  width: 100%;
  background-color: var(--background-color-two);
  padding: 4rem;
  gap: 10rem;
}

.checkout_add-address-container {
  width: 100%;
  padding: 1rem 0;
}

.checkout_add-address-container .addAddressbtn {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* .checkout_add-address-container .addAddressbtn:hover {
  background-color: var(--primary-color-two);
} */

.checkout_address-container {
  gap: 2rem;
  width: 100%;
}

.checkout_address-container h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.checkout_address-container ul {
  gap: 1.5rem;
}

.checkout_Address-card-container {
  border: 1px solid var(--border-color-normal);
  padding: 2rem;
}

.checkout_Address-card-container.selected {
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
}

.checkout_Address-card-part-one {
  gap: 1.5rem;
}

.checkout_Address-card-part-one label {
  padding: 1rem 0;
}

.checkout_Address-card-part-one .name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.checkout_Address-card-part-two {
  gap: 0.2rem;
  margin-left: 2.5rem;
}

/*  Checkout product details container style */

.checkout-productDetails-container {
  max-width: 50rem;
  width: 100%;
  border: 1px solid var(--border-color-normal);
  gap: 1rem;
}

.checkout-productDetails-container .order_detail-title {
  text-align: center;
  background-color: var(--background-color-one);
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
}

.order_product-container {
  padding: 0.5rem 2rem;
}

.order_product-container-part-one {
  border-bottom: 1.5px solid var(--border-color-normal);
  padding-bottom: 0.5rem;
}

.order_product-container-part-one span {
  font-size: 1.8rem;
  font-weight: 500;
}

.order_product-container-part-two {
  gap: 1.5rem;
  padding: 1rem 0;
}

.order_price-container {
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.orderTotal_price-container,
.orderDiscount_price-container,
.orderTotalShipping_price-container,
.orderTotalSaved_price-container,
.orderTotal_amount-container {
  font-size: 1.8rem;
}

.orderTotalSaved_price-container {
  color: var(--success-color);
}

.orderTotal_amount-container {
  font-size: 2rem;
  font-weight: 600;
}

.order_address-container {
  padding: 0.5rem 2rem;
  gap: 0.3rem;
}

.order_address-container .name {
  font-weight: 500;
  text-decoration: underline;
}

.checkout-productDetails-container .placeOrderBtn {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding: 0.7rem 1.4rem;
  border-radius: 0;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.checkout-productDetails-container .placeOrderBtn:hover {
  background-color: var(--success-color);
}

/* Page Not Found  Style */

.errorPage_container {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem 2rem 6rem 2rem;
  background-color: #fff;
}

.errorPage_section {
  width: 100%;
}

.errorPage_Img-container {
  width: 100%;
  height: 100%;
}

.errorPage_Img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.errorPage_text-Container {
  gap: 0.5rem;
  padding-bottom: 4rem;
}

.errorPage_text-Container h3 {
  text-align: center;
  font-size: 3.2rem;
}

.errorPage_text-Container p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.backHomeBtn {
  font-size: 2.2rem;
  margin-top: 2.5rem;
  padding: 0.7rem 1.4rem;
}
