/* footer container style */

.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--dark-color-one);
  color: var(--secondary-color-one);
  padding: 0 3.5rem;
}

.footer_container {
  align-items: center;
}

.footer-logo-text {
  transition: all 0.3s;
  cursor: pointer;
  letter-spacing: 1px;
}

.footer-logo-text:hover {
  color: var(--primary-color-one);
}

.footer_copyright-text {
  margin-left: 10rem;
}

.footer_socials {
  cursor: pointer;
}

.footer_socials svg {
  transition: all 0.3s;
  font-size: 2.8rem;
}

.footer_socials li svg:hover {
  color: var(--primary-color-one);
}

.btn_pageUp-wrap {
  margin-left: 2rem;
  position: relative;
  border-radius: 50%;
}

.btn_pageUp {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--primary-color-one);
  color: var(--secondary-color-one);
  border-radius: 50%;
  box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  z-index: 5;
}

.btn_pageUp:hover {
  color: var(--primary-color-two);
  background-color: var(--secondary-color-one);
}

.btn_pageUp svg:hover {
  color: var(--primary-color-two);
}

.btn_pageUp-wrap::before {
  content: "";
  position: absolute;
  height: 8rem;
  width: 8rem;
  background-color: var(--secondary-color-one);
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%) scale(0.8);
  transition: scale 1.5s ease-out infinite 1s;
}

/*  1024px = 64rem */
@media (max-width: 64em) {
  .footer_socials {
    gap: 2.5rem;
  }
}

/*  944px = 59rem */
@media (max-width: 59em) {
  .btn_pageUp-wrap {
    margin-left: 1rem;
  }

  .btn_pageUp {
    height: 4rem;
    width: 4rem;
  }

  .btn_pageUp-wrap::before {
    height: 6.5rem;
    width: 6.5em;
  }

  .footer_socials {
    gap: 2rem;
  }
}

/* 48em === 768px */
@media (max-width: 48em) {
  .footer {
    padding: 0 2rem;
  }

  .footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 3rem 0 2rem 0;
  }

  .footer_copyright-text {
    grid-column: span 2;
    flex-direction: row;
    margin-left: 0;
  }

  .footer_socials svg {
    font-size: 2.4rem;
  }

  .footer_socials {
    grid-column: 2/3;
    grid-row: 1;
    justify-content: flex-end;
    align-items: first baseline;
    gap: 1.5rem;
  }
}

/*  432px = 27rem */

@media (max-width: 27em) {
  .footer {
    padding: 0 1.5rem;
  }

  .btn_pageUp {
    height: 3.5rem;
    width: 3.5rem;
  }

  .btn_pageUp-wrap::before {
    height: 5.5rem;
    width: 5.5em;
  }
}
