.categories_container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.5rem;
}

.categories_container-title {
  text-transform: uppercase;
  color: var(--primary-color-one);
  letter-spacing: 0.75px;
  font-size: 3.4rem;
  font-weight: 700;
  text-decoration: underline;
}

.categories_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.categories_wrap {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.categories_card {
  max-width: 45rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.categories_image-box {
  position: relative;
  width: 100%;
  height: 48rem;
  overflow: hidden;
}

.categories_image-box img {
  position: absolute;
  height: 100%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.categories_card:hover .categories_image-box img {
  transform: translate(-50%, -50%) scale(1.05);
}

/*  944px = 59rem */
@media (max-width: 59em) {
  .categories_container {
    padding: 0 2rem;
  }

  .categories_container-title {
    font-size: 3rem;
  }
  .categories_wrapper {
    gap: 2rem;
  }
  .categories_image-box {
    height: 42rem;
  }
}

/* 48em === 768px */
@media (max-width: 48em) {
  .categories_container {
    gap: 0;
    padding: 0 1.5rem;
  }

  .categories_container-title {
    font-size: 2.8rem;
  }

  .categories_wrapper {
    gap: 1.5rem;
  }
  .categories_image-box {
    height: 38rem;
  }
}

/*  544px = 34rem */
@media (max-width: 34em) {
  .categories_wrapper,
  .categories_wrap,
  .categories_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .categories_wrapper {
    padding: 3rem 0;
  }

  .categories_wrap,
  .categories_image-box {
    max-width: 34rem;
  }
}

/*  432px = 27rem */

@media (max-width: 27em) {
  .categories_wrapper,
  .categories_wrap,
  .categories_card {
    gap: 2rem;
  }

  .categories_container-title {
    font-size: 2.4rem;
  }

  .categories_wrap,
  .categories_image-box {
    max-width: 30rem;
  }

  .categories_image-box {
    height: 30rem;
  }
}
